<img src="https://github.com/amandalemette/images/blob/e011da7260c032bae5c49e56a14ad97c13b8c679/BiMaster/bimaster.png?raw=true"  width=1000 height=80 />

# Professora

 - Amanda Lemette 
	 - prof.amanda@ica.ele.puc-rio.br
	 - [Linkedin](https://www.linkedin.com/in/amanda-lemette-brand%C3%A3o-83280918b)
  - [Youtube](https://www.youtube.com/c/AmandaLemette/featured)

# Operações com dataframes e criação de gráficos


- **Plano de aula:**
- adição de dados no DataFrame
- Leitura de arquivo externo
- Salvamento de arquivo
- Como lidar com dados faltantes?
  - identificar NaN
  - substituir NaN
  - eliminar NaN
- Categorização de dados
- Gráficos:
  - pizza
  - histograma

<img src="https://github.com/amandalemette/images/blob/e011da7260c032bae5c49e56a14ad97c13b8c679/BiMaster/bimaster.png?raw=true"  width=1000 height=80 />

### Adição de nova linha no DataFrame

O Pandas é projetado para carregar um dataframe totalmente preenchido. Podemos adicionar linha por linha ao Dataframe, utilizando várias abordagens como:
- .loc, 
- dicionário, 
- pandas.concat() ou 
- DataFrame.append().

Nessa aula, apresentarei a abordagem pelo LOC por considerá-la a mais simples:

O loc[index] toma a nova lista como uma nova linha e a adiciona ao dado index de pandas.Dataframe. Ele funciona como:



```
Nome_Dataframe.loc[nome_index] = [novos dados como lista]
```

Vamos adicionar ao DataFrame *rg* a linha:



```
[Geraldo, 43, Salvador]
```

In [2]:
import pandas as pd

In [18]:
Registro = {'Cliente':['Ana','Ronaldo','Mateus','Luiza'],
            'Idade':[19,78,49,34],
            'Cidade':['Rio de Janeiro','São Paulo','Salvador','Belo Horizonte']}
rg = pd.DataFrame(Registro)
rg

   Cliente  Idade          Cidade
0      Ana     19  Rio de Janeiro
1  Ronaldo     78       São Paulo
2   Mateus     49        Salvador
3    Luiza     34  Belo Horizonte

- criando uma copia de rg

In [19]:
rg_mod = rg.copy()

In [20]:
rg_mod.loc['valor'] = ['Geraldo', 43, 'Salvador']

In [21]:
rg

   Cliente  Idade          Cidade
0      Ana     19  Rio de Janeiro
1  Ronaldo     78       São Paulo
2   Mateus     49        Salvador
3    Luiza     34  Belo Horizonte

In [22]:
rg_mod

       Cliente  Idade          Cidade
0          Ana     19  Rio de Janeiro
1      Ronaldo     78       São Paulo
2       Mateus     49        Salvador
3        Luiza     34  Belo Horizonte
valor  Geraldo     43        Salvador

In [25]:
rg_mod = rg_mod.reset_index(drop=True)

In [26]:
rg_mod

   Cliente  Idade          Cidade
0      Ana     19  Rio de Janeiro
1  Ronaldo     78       São Paulo
2   Mateus     49        Salvador
3    Luiza     34  Belo Horizonte
4  Geraldo     43        Salvador

- fazendo a adição dentro do proprio rg

In [23]:
rg.loc[len(rg)] = ['Geraldo', 43, 'Salvador']

In [24]:
rg

   Cliente  Idade          Cidade
0      Ana     19  Rio de Janeiro
1  Ronaldo     78       São Paulo
2   Mateus     49        Salvador
3    Luiza     34  Belo Horizonte
4  Geraldo     43        Salvador

**Para pensar**
- É possível existir no mesmo DataFrame dois índices iguais?

<img src="https://github.com/amandalemette/images/blob/e011da7260c032bae5c49e56a14ad97c13b8c679/BiMaster/bimaster.png?raw=true"  width=1000 height=80 />

### Adição de nova coluna no DataFrame

A adição de uma nova coluna no DataFrame se faz de modo bem direto, como:



```
Nome_DataFrame[Nome_nova_coluna] = [dados na forma de lista]
```

Vamos adicionar a coluna chamada Carro no dataframe *rg*:

In [27]:
rg

   Cliente  Idade          Cidade
0      Ana     19  Rio de Janeiro
1  Ronaldo     78       São Paulo
2   Mateus     49        Salvador
3    Luiza     34  Belo Horizonte
4  Geraldo     43        Salvador

In [28]:
nova_col = ['Ford','Uno','Não tem','Fiat','Não tem']

In [29]:
rg['Carro'] = nova_col

In [ ]:
rg

<img src="https://github.com/amandalemette/images/blob/e011da7260c032bae5c49e56a14ad97c13b8c679/BiMaster/bimaster.png?raw=true"  width=1000 height=80 />

# Leitura de base de dados .csv

Para fazer a leitura de uma base de dados, primeiro precisamos adicionar essa base de dados na pasta *Arquivos* do Google Colaboratory que estamos usando.

A base de dados que vamos utilizar é sobre resultados de partidas de futebol de 1872 a 2021. A base de dados se chama *results.csv* e foi retirada do site [Kaggle](https://www.kaggle.com/martj42/international-football-results-from-1872-to-2017) e atualizada com o nome *results_modif.csv*.

**Passo a passo para adicionar um documento no Google Colaboratory:**
- No canto esquerdo da sua tela do Google Colaboratory clique no símbolo da pasta. 
- Depois, clique no símbolo para fazer upload de documento
- Selecione o documento *results.csv* que você baixou da nossa pasta no Google Drive
- Copie o caminho do documento.

In [31]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [32]:
df = pd.read_csv('/content/results_modif.csv')

In [33]:
df.head(2)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False

In [34]:
df.tail(2)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
43084,2021-12-18,NaN,NaN,NaN,NaN,Arab Cup,Al Khor,Qatar,NaN
43085,2021-12-18,United States,Bosnia and Herzegovina,NaN,NaN,Friendly,Los Angeles,United States,False

A base de dados *results.csv* inclui dados de 40838 resultados de partidas de futebol começando em 1872 até 2021. Os dados não incluem jogos olímpicos. 

Colunas de dados incluem:

- data – dia da partida
- time da casa
- time convidado
- pontuação do time da casa
- pontuação do time convidado
- classificação do torneio
- cidade onde ocorreu a partida
- país onde ocorreu a partida
- neutro - TRUE/FALSE Coluna indicando se a partida foi feita em um local neutro

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43086 entries, 0 to 43085
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        43086 non-null  object
 1   home_team   43084 non-null  object
 2   away_team   43084 non-null  object
 3   home_score  43081 non-null  float64
 4   away_score  43081 non-null  float64
 5   tournament  43086 non-null  object
 6   city        43086 non-null  object
 7   country     43086 non-null  object
 8   neutral     43084 non-null  object
dtypes: float64(2), object(7)
memory usage: 3.0+ MB

<img src="https://github.com/amandalemette/images/blob/e011da7260c032bae5c49e56a14ad97c13b8c679/BiMaster/bimaster.png?raw=true"  width=1000 height=80 />

# Lidando com NaN

## Identificação de NaN

Em Python, identificamos a existência ou não de dados faltantes pelos seguintes métodos:
- [.isna()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isna.html)
- [.notna()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.notna.html)
- [.info()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.info.html)
- [isna().any()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.any.html)
- [isnull()](https://pandas.pydata.org/docs/reference/api/pandas.isnull.html)

## Substituição de NaN

Para substituir dados faltantes, podemos utilizar:

- [replace](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html)
- [fillna](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html)

## Eliminação de NaN

Para eliminar dados faltantes, podemos fazer uso de:
- [drop](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html)
- [dropna](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html)

## Exercício

Dado o DataFrame a seguir, 
- Identifique em quais linhas existem dados faltantes e imprima essas linhas
- Substitua os dados faltantes da coluna 'A' pela média dos números dessa coluna.
- Substitua os dados faltantes da coluna 'C' pela moda dessa coluna. 
- Delete os dados faltantes da coluna 'B' (eliminando as correspondentes linhas e mantendo a coluna 'B').

In [ ]:
dc = {'A':[16,21,22,np.nan, 19,16,18,19,np.nan,18,16,21],'B':[45,65,np.nan,32,12,25,  56,27,19, 10,54,42],'C':['SIM','SIM','SIM','NAO',np.nan,'NAO SEI','SIM',np.nan,'NAO SEI','NAO SEI',np.nan,'SIM']}

In [ ]:
DF = pd.DataFrame(dc)

In [ ]:
DF

- Identifique em quais linhas existem dados faltantes e imprima essas linhas

- Substitua os dados faltantes da coluna 'A' pela média dos números dessa coluna.

- Substitua os dados faltantes da coluna 'C' pela moda dessa coluna.

- Delete os dados faltantes da coluna 'B' (eliminando as correspondentes linhas e mantendo a coluna 'B').

<img src="https://github.com/amandalemette/images/blob/e011da7260c032bae5c49e56a14ad97c13b8c679/BiMaster/bimaster.png?raw=true"  width=1000 height=80 />

# Manipulação de DataFrame

Podemos criar uma nova coluna informando quem ganhou a partida. Para isso, podemos adotar a seguinte notação: 

- Empate: recebe o número 0
- Home_team: recebe o número 1
- Away_team: recebe o número 2

Essa informação de quem ganhou irá virar uma nova coluna de *df* chamada *rs*.

## Fazendo uso de função anônima

## Fazendo uso de função convencional

<img src="https://github.com/amandalemette/images/blob/e011da7260c032bae5c49e56a14ad97c13b8c679/BiMaster/bimaster.png?raw=true"  width=1000 height=80 />

# Categorização de dados

Com a biblioteca pandas, é possível categorizar os dados dentro de grupos através do [pandas.cut()](https://pandas.pydata.org/docs/reference/api/pandas.cut.html).

Vamos criar uma nova coluna no dataframe com o nome 'Pontuacao_casa' usando pd.cut. A coluna 'Pontuacao_casa' armazena:

- 0-5 --> para os jogos que obtiveram pontuação da casa entre 0 e 5;
- 6-10 --> para os jogos que obtiveram pontuação da casa entre 6 e 10;
- 11-15 --> para os jogos que obtiveram pontuação da casa entre 11 e 15;
- 16-20 --> para os jogos que obtiveram pontuação da casa entre 16 e 20;
- 21-31 --> para os jogos que obtiveram pontuação da casa entre 21 e 31

A imagem a seguir ilustra como aplicamos o pandas.cut().

<img src="https://github.com/amandalemette/images/blob/e5a72329ad2131403edc0be180c55442ce1de57e/BiMaster/cut.png?raw=true"  width=700 height=300 />

In [ ]:
ranges = [-1,5,10,15,20,31]
labels = ['0-5','6-10','11-15','16-20','21-31']

Vamos Imprimir quantos jogos estão incluídos em cada grupo pertencente à Pontuacao_casa.

Gerar um gráfico de pizza que transmita essas informações.

Para gerar esse gráfico, vamos primeiro olhar um exemplo no site da biblioteca Matplotlib: [exemplo plot pie](https://matplotlib.org/stable/gallery/pie_and_polar_charts/pie_features.html).

Esse gráfico não ficou muito bom com a biblioteca matplotlib, vamos agora conhecer uma outra biblioteca gráfica: [PLOTLY](https://plotly.com/python/pie-charts/).

## Exercício
Faça um novo gráfico de pizza, mas dessa vez de acordo com a coluna *rs*. 
- Primeiro, use a biblioteca matplotlib
- Depois, use a plotly

<img src="https://github.com/amandalemette/images/blob/e011da7260c032bae5c49e56a14ad97c13b8c679/BiMaster/bimaster.png?raw=true"  width=1000 height=80 />